/* ResumeVideo.css */

.containerResumeVideo {
    display: flex; /* Utilisez flexbox pour centrer les miniatures */
    flex-direction: column; /* Alignez les éléments verticalement */
    align-items: center; /* Centrez les éléments horizontalement */
    background-color: #02153C;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
  
.headingResumeVideo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #FFFFFF;
}
  
.videoContainer {
    margin-bottom: 20px;
    text-align: center;
}
  
.videoTitle {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: #FFFFFF;
}

.videoThumbnail {
    width: 20px; /* Augmentez la largeur de la miniature */
    height: auto; /* Laissez la hauteur s'ajuster automatiquement */
}
