/* HomePage.css */

.containerHome {
  color: white; /* Texte en blanc */
  margin: 0 auto; /* Marges automatiques pour centrer le contenu horizontalement */
  max-width: 00px; /* Largeur maximale du contenu */
}
