.containerHome {
  color: white; /* Texte en blanc */
  margin: 0 auto; /* Marges automatiques pour centrer le contenu horizontalement */
  max-width: 75%; /* Largeur maximale du contenu */
}

.summary {
  display: flex;
  margin-bottom: 20px;
}

.summary > div {
  flex: 1;
}

.summary > div:nth-child(2) {
  margin-left: 20px;
}

.summary > div p {
  font-size: 1.1em; /* Taille de la police augmentée */
  line-height: 1.5; /* Espacement entre les lignes augmenté */
  margin-bottom: 15px; /* Espace supplémentaire entre les paragraphes */
}

.summary > div img {
  max-width: 100%;
  height: auto;
}
