/* Match.css */

.containerMatch {
  flex: 1;
  background-color: #f7f7f7;
}

.topSection {
  height: 20px;
  background-color: #02153c;
}

.matchdayButtonsContainer {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.matchdayButtonsContainer::-webkit-scrollbar {
  width: 8px;
}

.matchdayButtonsContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.matchesScrollViewContainer {
  overflow-x: auto;
}

.matchdayButton {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  color: #ffffff;
  background-color: #2a75f3;
  cursor: pointer;
  transition: background-color 0.3s;
}

.matchdayButton:hover {
  background-color: #1e5dd8;
}

.selectedMatchdayButton {
  background-color: #4f8df6;
}

.matchdayText {
  color: #ffffff;
}

.matchesContainer {
  padding: 20px;
}

.matchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.teamContainerMatch,
.scoreContainerMatch,
.opponentTeamContainer {
  display: flex;
  flex-direction: column; /* Affichage en colonne */
  align-items: center; /* Centrage horizontal */
  justify-content: center; /* Centrage vertical */
}

.teamLogoMatch {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px; /* Espacement entre le logo et le nom */
}

.teamNameMatch,
.scoreText {
  font-size: 16px;
  color: #333333;
  text-align: center; /* Centrage horizontal */
}
