/* Match.css */

.containerMatch {
  flex: 1;
  background-color: #f7f7f7; /* Changement de la couleur de fond */
}

.topSection {
  height: 20px;
  background-color: #02153c;
}

.matchdayButtonsContainer {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.matchdayButtonsContainer::-webkit-scrollbar {
  width: 8px;
}

.matchdayButtonsContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.matchesScrollViewContainer {
  overflow-x: auto;
}

.matchdayButton {
  padding: 8px 16px; /* Ajustement des marges intérieures */
  border: none; /* Suppression de la bordure */
  border-radius: 5px;
  margin-right: 10px; /* Espacement entre les boutons */
  color: #ffffff;
  background-color: #2a75f3; /* Couleur de fond */
  cursor: pointer;
  transition: background-color 0.3s; /* Animation de transition */
}

.matchdayButton:hover {
  background-color: #1e5dd8; /* Changement de couleur au survol */
}

.selectedMatchdayButton {
  background-color: #4f8df6; /* Couleur de fond pour le jour sélectionné */
}

.matchdayText {
  color: #ffffff;
}

.matchesContainer {
  padding: 20px; /* Ajustement de la marge intérieure */
}

.matchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Espacement entre les matchs */
}

.teamContainerMatch {
  display: flex;
  align-items: center;
}

.teamLogoMatch {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Arrondi du logo */
  margin-right: 15px; /* Espacement entre le logo et le nom de l'équipe */
}

.teamNameMatch {
  font-size: 16px;
  color: #333333; /* Couleur du texte assombrie */
}

.scoreContainerMatch {
  display: flex;
  align-items: center;
}

.scoreText {
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px; /* Espacement des scores */
  color: #333333; /* Couleur du texte assombrie */
}
