.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #02153C;
  }
  
  .playerName {
    font-size: 32px; /* Augmentation de la taille de la police */
    margin-bottom: 10px;
    text-align: center;
  }
  
  .playerInfo {
    font-size: 24px; /* Augmentation de la taille de la police */
    margin-bottom: 5px;
    text-align: center;
    color: blanchedalmond;
  }
  
  .errorText {
    color: red;
    font-size: 24px; /* Augmentation de la taille de la police */
    text-align: center;
  }
  
  .playerImage {
    width: 250px; /* Augmentation de la taille de l'image */
    height: 250px; /* Augmentation de la taille de l'image */
    border-radius: 50%; /* Rendre l'image circulaire */
    margin-bottom: 20px;
  }
  
  .placeholderImage {
    width: 250px; /* Augmentation de la taille du placeholder */
    height: 250px; /* Augmentation de la taille du placeholder */
    background-color: #777;
    margin-bottom: 20px;
  }
  