.containerStat {
    padding: 20px;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 8%;
    color: white;
  }
  
  .playerContainer {
    display: flex;
    overflow-x: auto;
  }
  
  .player {
    flex-shrink: 0;
    padding: 10px;
    margin-right: 10px;
  }
  
  .playerImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .playerName {
    font-weight: bold;
    color: white;
  }
  
  .playerInfo {
    margin-top: 5px;
    color: white;
  }
  