  .    <div className="containershowequipe">
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #02153C;
    color: #02153C !important;
  }
  
  .logoContainer {
    margin-bottom: 20px;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  .teamName {
    color: #CEFB03;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .stadium {
    color: #CEFB03;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .playersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .player {
    text-align: center;
    margin: 10px;
  }
  
  .playerImage {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-bottom: 5px;
  }
  
  .playerImagePlaceholder {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    background-color: #02153C; /* Couleur de fond pour l'image de remplacement */
  }
  
  .playerName {
    color: white;
    margin-bottom: 2px;
  }
  
  .playerNumber {
    color: white;
  }
  