.containerallteam {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.teamContainer {
  width: calc(33.33% - 20px);
  max-width: 150px; /* Taille maximale des équipes */
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.teamLogo {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.teamName {
  font-size: 18px;
  color: #02153C;
}


