.containerallteam {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.teamContainer {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.teamContainer:hover {
  transform: translateY(-5px);
}

.teamLogo {
  width: 100%;
  display: block;
  margin: 0 auto; /* Centrer le logo */
}

.teamName {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px; /* Ajouter de l'espace entre le logo et le texte */
}

@media (max-width: 768px) {
  .teamContainer {
    width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .teamContainer {
    width: 100%;
  }
}
