.containerallteam {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  margin: 5% auto;
}

.teamContainer {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre */
  text-decoration: none;

}

.teamContainer:hover {
  transform: translateY(-5px);
}

.teamLogo {
  width: 35%; /* Pour que le logo soit 100% de la largeur du parent */
  display: block;
  margin: 3% auto; /* Centrer horizontalement */
}

.teamName {
  text-align: center; /* Centrer le texte horizontalement */
  font-weight: bold;
  margin-top: 10px; /* Espacement entre le logo et le texte */
  font-size: 24px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .teamContainer {
    width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .teamContainer {
    width: 100%;
  }
}
