

.table-standings {
  width: 100%;
  border-collapse: collapse;
}

.table-standings thead {
  background-color: #003366;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.table-standings th,
.table-standings td {
  text-align: center;
  padding: 10px;
}

.table-standings th {
  font-size: 14px;
  font-weight: bold;
}

.table-standings tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table-standings tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.table-standings tbody tr:hover {
  background-color: #d7e4ee;
}

.team-logo {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.team-name {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.team-name img {
  margin-right: 10px;
}

.matches-won,
.matches-drawn,
.matches-lost,
.points {
  font-size: 16px;
}

.points {
  font-weight: bold;
  color: #004d99;
}
