* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #js-statorium-widget-164 img {
    width: 30px; /* Changez cette valeur pour ajuster la taille */
    height: auto;
  }

  #js-statorium-widget-164 tr {
    border-bottom: 1px solid #000; /* Changez la couleur si nécessaire */
  }